.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}
  
  .cards_container{
    max-width: 80%;
  }
 

  .custom-card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .custom-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  

  .card-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 25%;
    padding: 8px;
  }
  
  @media screen and (max-width: 991px) {
    .card-wrapper {
      max-width: 40%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .card-wrapper {
      max-width: 80%;
    }
  }
  