.logo_container {
    width: 20%;
    height: 100px; /* Ajustez la hauteur en fonction de vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
  
   
  }
  .logo{
    position: absolute;
   
  }