.App__container{
    background-color: #BDC3C7;
    width: 100%;
    min-height: 100vh;
}
.main__github__container{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color:#ECF0F1 ;
    justify-content: center;

}
.searchBar__container{
    width: 80%;
    display: flex;
    justify-content: center;
}